<!--
  Generated template for the PostsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->

<ion-header>

  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Notícias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content no-padding>



  <ion-list>
    <ion-item *ngFor="let objeto of posts.data">
      <ion-thumbnail item-start>
        <div *ngIf="objeto.post_cover != null; else semimagem">
            <img src="{{url_img_site_guia}}{{objeto.post_cover}}&w=800&h=400">
        </div>

        <ng-template #semimagem>
          <img src="assets/images/sem_imagem.jpg" alt="">
        </ng-template>

      </ion-thumbnail>
      <h2> {{ objeto.post_title }}</h2>
      <p>{{ objeto.post_subtitle }}</p>
      <!-- <button ion-button clear item-end>Ver</button> -->

      <ion-row>
        <ion-col col-4 text-left>
          <button ion-button clear small color="primary" icon-start (click)="getPostSingle(objeto)">
            <ion-badge>Ler agora</ion-badge>
          </button>
        </ion-col>

        <ion-col col-8 text-right>
          <button ion-button clear small color="primary" icon-start>
            <ion-icon ios="ios-share" md="md-share"></ion-icon>
          </button>
        </ion-col>
      </ion-row>

      <ion-row>
        <ion-col class="data_post" text-left>
          Em: {{ objeto.post_date | date: 'dd/MM/yyyy' }}
        </ion-col>
      </ion-row>


    </ion-item>
  </ion-list>


  <!-- <ion-card *ngFor="let objeto of posts.data" (click)="getPostSingle(objeto)">
    <img src="{{url_img_site_guia}}{{objeto.post_cover}}&w=800&h=400" />
    <ion-card-content>
      <ion-card-title>
        {{ objeto.post_title }}
      </ion-card-title>
      <p>{{ objeto.post_subtitle }}</p>
    </ion-card-content>
    <hr>
    <ion-row no-padding>
      <ion-col col-4 text-left>
        <button ion-button clear small color="primary" icon-start>
          <ion-icon name='star'></ion-icon>
          Favorite
        </button>
      </ion-col>
      <ion-col col-3 text-center>
        <button ion-button clear small color="primary" icon-start>
          <ion-icon name='musical-notes'></ion-icon>
          Listen
        </button>
      </ion-col>
      <ion-col col-5 text-right>
        <button ion-button clear small color="primary" icon-start>
          <!- <ion-icon name='share-alt'></ion-icon> ->
          <ion-icon ios="ios-share" md="md-share"></ion-icon>
          Compartilhar
        </button>
      </ion-col>
    </ion-row>
  </ion-card> -->

</ion-content>
