page-singlecompany {
  .slides,
  .swiper-slide {
    height: 250px !important;
  }
  .header-image {
    // background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
    height: 40vh;
    background-position: center;
    position: relative;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    padding-top: 11%;
  }
  .header_titulo {
    font-size: 1.8em;
  }
  .star_ratio{
    margin-top: 2%;
  }

  .star_ratio .icon{
    font-size: 25px;
    margin: 5px 0;
  }

  .logo_empresa_page_single img {
    margin-top: -25%;
    border: 1px solid #f4f4f4;
    background-color: #fff;
    border-radius: 5%;
  } 

  .main-content {
    width: 100%;
    padding: 5px;
    background-color: #f4f4f4;
  }
  
  
  .content_empresa_single_page {
    background-color: #fff;
    margin-top: 10px;
    padding: 10px;
  }

  .single_company_dados .icon{
    font-size: 25px;
  }


  
  
  
  // .header_empresa_single_page {
  //   position: relative;
  //   z-index: 9999;
  //   color: #fff;
  //   text-shadow: 1px 1px 1px #000;
  //   top: -200px;
  // }
  // .header_empresa_single_page .icon {
  //   font-size: 30px;
  // }
  // .content_empresa_single_page {
  //   position: relative;
  //   z-index: 9999;
  //   background-color: #f9f9f9;
  //   margin-top: 200px; // min-height: 500px;
  // }
  // .single_company_content_html {
  //   position: relative;
  //   z-index: 9999;
  //   background-color: #f9f9f9;
  // }
  // .single_company_map_responsive {
  //   overflow: hidden;
  //   padding-bottom: 56.25%;
  //   position: relative;
  //   height: 0;
  // }
}
