<ion-header>

  <ion-navbar color="primary">
    <ion-title>Empresa</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon ios="ios-map" md="md-map"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>

</ion-header>

<ion-content parallax-header>

  <div class="header-image" [ngStyle]="{'background':  imgCapaCompany,'background-size': 'cover',  'background-repeat': 'no-repeat', 'height': '50%' }">

    <span text-center class="header_titulo">{{ objeto?.company_title }}</span>

    <div class="star_ratio" text-center>
      <ion-icon ios="ios-star" md="md-star" color="yellow"></ion-icon>
      <ion-icon ios="ios-star" md="md-star" color="yellow"></ion-icon>
      <ion-icon ios="ios-star" md="md-star" color="yellow"></ion-icon>
      <ion-icon ios="ios-star-half" md="md-star-half" color="yellow"></ion-icon>
      <ion-icon ios="ios-star-outline" md="md-star-outline" color="yellow"></ion-icon>
      <br> ( 99 ) Avaliações
    </div>

  </div>

  <div class="main-content">



    <div class="logo_empresa_page_single" text-center>

      <div *ngIf="objeto.company_cover != null; else semcover">
        <img src="https://www.guiaimperatriz.com.br/tim.php?src=uploads/{{objeto.company_cover}}&w=130&h=130" alt="">
      </div>

      <ng-template #semcover>
        <img src="assets/images/img_padrao.jpg" width="130" height="130" alt="">
      </ng-template>

      <ion-badge text-center *ngIf="objeto.company_featured == 1" color="primary">
        Empresa Destaque
      </ion-badge>

    </div>
    <!-- fecha logo_empresa_page_single -->


    <!-- INICIA CONTEÚDO -->
    <div *ngIf="conteudoInnerHTML == null; else conteudoCompany">
      <ion-card>
        <div class="content_empresa_single_page">
          <h3 text-center> <b>  Guia Imperatriz </b></h3>
          <p text-center>O lugar mais fácil de buscar por estabelecimentos e serviçoes em nossa cidade.</p>
          <p text-center> <b> Quer ser econtrado(a) mais facilmente? <br> Anuncie você também no Guia Imperatriz! </b></p>
        </div>
      </ion-card>
    </div>

    <ng-template #conteudoCompany>
      <ion-card>
        <div class="content_empresa_single_page" [innerHTML]="conteudoInnerHTML"></div>
      </ion-card>
    </ng-template>
    <!-- FECHA CONTEÚDO -->


    <!-- INICIA DADOS INFORMATIVOS -->
    <div class="single_company_dados">
      <ion-card>
        <ion-grid>

          <br>

          <ion-row>
            <ion-col col-4 text-center (click)="getBotao()">
              <ion-icon ios="ios-call" md="md-call" color="compartilhar"></ion-icon>
              <p>Ligar</p>
            </ion-col>
            <ion-col col-4 text-center>
              <ion-icon ios="ios-pin" md="md-pin" color="compartilhar"></ion-icon>
              <p>Como chegar</p>
            </ion-col>
            <ion-col col-4 text-center>
              <ion-icon ios="ios-share" md="md-share" color="compartilhar"></ion-icon>
              <p>Compartilhar</p>
            </ion-col>
          </ion-row>

          <br>

          <ion-row>
            <ion-col col-4 text-center>
              <ion-icon ios="logo-facebook" md="logo-facebook" color="facebook"></ion-icon>
              <p>Facebook</p>
            </ion-col>
            <ion-col col-4 text-center>
              <ion-icon ios="logo-instagram" md="logo-instagram" color="instagram"></ion-icon>
              <p>Instagram</p>
            </ion-col>
            <ion-col col-4 text-center>
              <ion-icon ios="logo-whatsapp" md="logo-whatsapp" color="secondary"></ion-icon>
              <p>WhatsApp</p>
            </ion-col>
          </ion-row>

          <hr>

          <ion-row padding>
            <p> E-mail: {{objeto.company_mail }} </p>
            <p> Endereço: {{objeto.company_addr }} </p>
          </ion-row>

        </ion-grid>
        <br>
      </ion-card>
    </div>
    <!-- FECHA DADOS INFORMATIVOS -->



    <!-- INICIA GALERIA DE IMAGENS -->
    <div *ngIf="objeto.ws_guide_photos.length != 0">

      <div class="single_company_slides">
        <ion-slides pager>
          <ion-slide *ngFor="let slide of objeto.ws_guide_photos">
            <img src="https://www.guiaimperatriz.com.br/tim.php?src=uploads/{{ slide.photo_image }}&w=800&h=500" alt="">
          </ion-slide>
        </ion-slides>
      </div>
    </div>
    <!-- FECHA GALERIA DE IMAGENS -->


  </div>

</ion-content>
