<ion-header>
  <ion-toolbar color="primary">

    <!-- <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button> -->


    <button ion-button menuToggle><ion-icon name="menu"></ion-icon></button>

    <ion-buttons start>
      <button ion-button icon-only color="royal">
        <ion-icon name="search"></ion-icon>
      </button>
    </ion-buttons>
    <ion-title>Guia Imperatriz</ion-title>
    <ion-buttons end>
      <button ion-button icon-only color="royal">
        <ion-icon ios="ios-map" md="md-map"></ion-icon>
      </button>
      <button ion-button icon-only color="royal" >
        <ion-icon ios="ios-funnel" md="md-funnel"></ion-icon>
      </button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>




<ion-content>

  <ion-grid>
    <ion-row>

      <ion-col class="tamanho_height_card" col-6 *ngFor="let objeto of companies.data" (click)="getSingleCompanyPage(objeto)">
        <ion-card>
          <span *ngIf="objeto.company_featured == 1" class="destaque"> Empresa Destaque </span>

          <div *ngIf="objeto.company_cover != null; else semimagem">
            <img src="{{url_img_site_guia}}{{objeto.company_cover}}&w=500&h=500" />
          </div>

          <ng-template #semimagem>
            <img src="assets/images/img_padrao.jpg" alt="">
          </ng-template>



          <ion-card-content>
            <h2>
              <b>{{ objeto?.company_title }}</b>
            </h2>
            <div>
              <ion-icon ios="ios-star" md="md-star"  color="yellow"></ion-icon>
              <ion-icon ios="ios-star" md="md-star"  color="yellow"></ion-icon>
              <ion-icon ios="ios-star" md="md-star"  color="yellow"></ion-icon>
              <ion-icon ios="ios-star-half" md="md-star-half"  color="yellow"></ion-icon>
              <ion-icon ios="ios-star-outline" md="md-star-outline"  color="yellow"></ion-icon>
              ( 99 )
            </div>
            <p>4 Km </p>
            <!-- <ion-badge class="estaque-badge" color="purple">
              {{ objeto.ws_guide_cat.category_title }}
            </ion-badge> -->
          </ion-card-content>
        </ion-card>
      </ion-col>

    </ion-row>
  </ion-grid>

  <ion-infinite-scroll [enabled]="morePagesAvailable" (ionInfinite)="doInfinite($event)">
    <ion-infinite-scroll-content loadingText="Carregando...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

</ion-content>
