page-home {

  $popover-md-width: 100px !important;
  .bg_black{
    background-color: rgb(25, 25, 25)
  }

  
  [col-6] {
    padding: 5px 0 !important;
  }

  .tamanho_height_card{
    display: flex;
    flex-wrap: wrap;
  }


  .destaque-badge{
    padding: 5px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 800;
  }

  .destaque{
    padding: 10px !important;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: tomato;
    background-color:rebeccapurple;
    font-weight: 800;
    color: #fff !important;
  }

  .card-content{
    border-top: 1px solid #f4f4f4;
  }


}
