<ion-header>

  <ion-navbar color="primary">

    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>

    <ion-title>Categorias</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>

  <ion-list>
    <div *ngFor="let obj of categories.data">
      <button ion-item *ngIf="obj.category_parent == null">
        <ion-avatar item-start>
          <img src="{{ url_svg_site_guia }}{{ obj.category_icon }}">
        </ion-avatar>
        <h2>{{ obj.category_title }}</h2>
        <p>{{ obj.category_content }}</p>
        <button ion-button clear item-end>Ver</button>
      </button>
    </div>

  </ion-list>

</ion-content>
